@keyframes moveText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(560%);
    }
  }
  
  .animate-moveText {
    animation: moveText 25s linear infinite;
  }

  @media (max-width: 640px) {
    @keyframes moveText {
      from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(150%);
      }
    }
    .animate-moveText {
      animation: moveText 10s linear infinite;
    }
  }
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .blink {
    animation: blink 1s infinite; /* Adjust timing as needed */
  }
  
  